@import "../../../pokemonColorScheme.scss";

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
  -webkit-text-stroke: 1px black;
}
h4 {
  font-size: 1.3em;
}
h1,
h2,
h4 {
  font-family: "Pokemon";
  -webkit-text-stroke: 0.6px black;
  color: $goldenYellow;
  letter-spacing: 2px;
}

.wrapper {
  background: $pokemonBg;
  height: 100vh;
}

#contentContainer {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}

.pokemon {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
