<div class="wrapper">
  <section id="contentContainer">
    <p *ngIf="error">{{ error }}</p>

    <h1>Welcome {{trainerName}}!</h1>
    <h4 *ngIf="pokemons.length">Here is your Pokemon Collection:</h4>
    <h4 *ngIf="!pokemons.length">
      Seems like you haven't caught any pokemon. Go to catalogue page and catch
      some!
    </h4>

    <main class="pokemon">
      <app-pokemon
        *ngFor="let pokemon of pokemons"
        (click)="navigateToDetailPage(pokemon)"
        [pokemon]="pokemon"
      ></app-pokemon>
    </main>
  </section>
</div>
