<div class="container">
  <div *ngIf="!pokemon" class="poke-not-found">
    <p>You have to find this pokemon to view its details</p>
  </div>
  <ng-container *ngIf="pokemon" class="detailsContainer">
    <div id="header">
      <section>
        <img id="coverImage" src="assets/catchemall.png" alt="" srcset="" />
        <h1 class="pokemonName">{{pokemon.name}}</h1>
      </section>
    </div>

    <div id="content"></div>

    <div id="content1">
      <article class="imageContainer">
        <img id="imgPokemon" src="{{pokemon.image}}" alt="pokemon.name" />

        <section class="">
          <h3 class="pokemonType">TYPE</h3>
          <p id="type" *ngFor="let type of pokemon.types">
            {{ type.type.name }}
          </p>
        </section>
      </article>
    </div>

    <div id="content2">
      <section id="pokeballWrapper" (click)="catchPokemon()">
        <div id="pokeballContainer">
          <div id="borderEffect">
            <img
              class="imgPokeball"
              src="assets/pokeball.png"
              alt="pokemon ball"
              srcset=""
            />
          </div>
        </div>
        <article id="pokeballText">
          <p>Catch {{pokemon.name}}</p>
        </article>
      </section>

      <article>
        <h3>BASE STATS</h3>
        <ul class="pokemonStats">
          <li *ngFor="let stat of pokemon.stats">{{ stat.stat.name }}</li>
        </ul>

        <ul class="pokemonStats">
          <li *ngFor="let stat of pokemon.stats">{{ stat.base_stat }}</li>
        </ul>
      </article>
    </div>

    <div id="content3">
      <article id="profileWrapper">
        <section id="profile">
          <h3>PROFILE</h3>
          <p>Height: {{pokemon.height}}</p>
          <p>Weight: {{pokemon.weight}}</p>
        </section>

        <section id="abilities">
          <h3>ABILITIES</h3>
          <ul>
            <li *ngFor="let ability of  pokemon.abilities">
              {{ ability.ability.name }}
            </li>
          </ul>
        </section>

        <section id="baseExperience">
          <h3>BASE EXPERIENCE</h3>
          <p>{{pokemon.base_experience}}</p>
        </section>
      </article>
    </div>

    <div id="content4">
      <h3>MOVES</h3>
      <article id="moveContainer">
        <section id="move">
          <p *ngFor="let move of pokemon.moves">{{ move }}</p>
        </section>
      </article>
    </div>

    <footer></footer>
  </ng-container>
</div>
