@import "../../../pokemonColorScheme.scss";

@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

body {
  font-family: "Inter", Pokemon, sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  padding: 10px;
  font-size: 1.5em;
  letter-spacing: 7px;
}
h4 {
  font-size: 1.3em;
}
h1,
h2,
h3 {
  font-family: "Pokemon";
  -webkit-text-stroke: 1px black;
  color: $goldenYellow;
}

p,
li {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

ul,
li {
  list-style-type: none;
}

.container {
  background: $pokemonBg;
  display: grid;
  height: 150vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "header header content content"
    "content1 content1 content2 content2"
    "content3 content3 content4 content4"
    "footer footer footer footer";
  font-weight: 800;
  text-transform: capitalize;
  font-size: 14px;
  color: $grey;
}

.poke-not-found {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
}

main {
  grid-area: main;
  text-align: center;
  padding: 2em;
}

#header {
  grid-area: header;
  text-align: center;
  padding: 2em;
}

#coverImage {
  width: 80%;
}

#content {
  grid-area: content;
  position: relative;
}

#content1 {
  grid-area: content1;
  text-align: center;
}

#content2 {
  grid-area: content2;
  padding: 20px;
  color: $goldenYellow;
}

#content3 {
  grid-area: content3;
  padding: 2em;
}

#content4 {
  grid-area: content4;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2em;
}

.pokemonName {
  font-size: 3em;
}

.imgPokeball {
  padding-top: 2px;
  height: 50px;
  margin: auto;
  display: inline;
}

#borderEffect {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  animation: glowing 3500ms ease infinite;
}

#borderEffect:hover {
  box-shadow: inset 0 0 0 5px red;
  background-color: $ceruleanBlue;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 rgba($goldenYellow, 1);
  }
  100% {
    box-shadow: 0 0 60px 25px transparent;
    border-width: 2px;
  }
}

button {
  text-align: center;
  line-height: 1.2;
  max-width: 150px;
}

#pokeballWrapper {
  width: 230px;
  height: 85px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 25px;
  border: 2px solid $bostonUniversityRed;
  box-shadow: 1px 1px 19px 2px $grey;
}

#pokeballWrapper:hover {
  background-color: $ceruleanBlue;
}

#pokeballWrapper:active {
  background-color: $ceruleanBlue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#pokeballContainer {
  width: 70px;
  height: 100%;
  text-align: center;
  float: left;
}

#pokeballText {
  height: 100%;
  padding: 10px;
  font-size: 1.09em;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Pokemon";
  color: #fff;
}

#baseExperience > p {
  text-align: center;
  letter-spacing: 1px;
}

.poke {
  height: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.imageContainer {
  padding: 30px 0;
  background: -webkit-radial-gradient(center, #cec540 0%, #c5c5c500 50%);
  margin: 0 auto;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

#imgPokemon {
  text-align: center;
  border-radius: 60%;
  padding: 10px;
  margin: auto;
  width: 50%;
}

#imgShadowEffect {
  background-color: #004a7f;
  width: 100px;
  height: 100px;
  display: inline;
}

.pokemonStats {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: inline-block;
}

.pokemonType {
  color: $goldenYellow;
  -webkit-text-stroke: 1px $grey;
  display: inline;
}

#type {
  color: $goldenYellow;
  letter-spacing: 2px;
}

#profileWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: $goldenYellow;
}

#moveContainer {
  width: 40%;
}

#move {
  color: $goldenYellow;
  column-count: 2;
}

footer {
  grid-area: footer;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
