$goldenYellow: #ffde00;
$ceruleanBlue: #3b4cca;
$bostonUniversityRed: #cc0000;
$goldFoil: #b3a125;
$red: #ff0000;
$grey: #333;
$pokemonBg: linear-gradient(
  0deg,
  rgba(255, 0, 0, 1) 0%,
  rgba(11, 123, 1, 1) 50%,
  rgba(255, 222, 0, 1) 100%
);
