@import "../../../../pokemonColorScheme.scss";

h2 {
  font-size: 1.8em;
}

h2,
h3 {
  font-family: "Pokemon";
  -webkit-text-stroke: 1px black;
  color: $goldenYellow;
  letter-spacing: 2px;
}

p {
  color: #fff;
  font-size: 1em;
  font-family: "Pokemon";
  -webkit-text-stroke: 0.6px black;
  padding: 10px;
}

#wrapper {
  height: 100vh;
  width: 100%;
  background: $pokemonBg;
}

#logo {
  padding-top: 50px;
  width: 60%;
  text-align: center;
}

.imgLogo {
  width: 620px;
  margin-bottom: 50px;
}

#formContainer {
  width: 40%;
  margin: 0 auto;
}

input {
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  border: 3px solid $bostonUniversityRed;
  box-shadow: 1px 1px 6px 0.2px $grey;
  outline: none;
}

#btnComponents {
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 0 auto;
  border-radius: 25px;
  border: 2px solid $grey;
  outline: none;
  width: 135px;
  height: 48px;
  margin: 25px;
  border-radius: 14px;
  background-color: $goldenYellow;
  box-shadow: 1px 1px 4px 0.2px $grey;
  font-size: 1.2em;
  outline: none;
  border: 2px solid $bostonUniversityRed;
  font-family: "Pokemon";
  color: #fff;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
  letter-spacing: 2px;
}

button:hover {
  color: #fff;
}

button:active {
  transform: translateY(4px);
}
