<div id="wrapper">
  <article id="logo">
    <img
      class="imgLogo"
      src="assets/pokemon.png"
      alt="pokemon logo"
      srcset=""
    />
  </article>
  <section id="formContainer">
    <h2>Register here as Pokemon Trainer or Login with your username</h2>

    <form [formGroup]="registerTrainerForm">
      <input
        id="trainerName"
        name="trainerame"
        type="text"
        placeholder="Enter username"
        formControlName="trainerName"
        required
        required
        minlength="2"
        required
        maxlength="20"
      />

      <p *ngIf="error">{{ error }}</p>
      <button
        type="button"
        [disabled]="registerTrainerForm.invalid || loading"
        (click)="onLoginClick()"
      >
        Login
      </button>
      <button
        type="button"
        [disabled]="registerTrainerForm.invalid || loading"
        (click)="onRegisterClick()"
      >
        Register
      </button>
      <div
        *ngIf="
          trainerName.invalid && (trainerName.dirty || trainerName.touched)
        "
      >
        <p *ngIf="trainerName.errors.required">Trainer name is required</p>
        <p *ngIf="trainerName.errors.minlength">
          Trainername must be minimum 2 charachters
        </p>
        <p *ngIf="trainerName.errors.maxlength">
          Trainer name must be less then 20 characters
        </p>
      </div>
    </form>
  </section>
</div>
