@import "../../../pokemonColorScheme.scss";

.pokemon {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  height: 290px;
  margin: 6px;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  box-shadow: 1px 1px 8px 3px rgba(56, 56, 56, 0.5);
  cursor: default;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokemon:hover {
  transform: translateY(4px);
  box-shadow: 1px 1px 8px 3px #fcf6db;
}

.pokemon-img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.pokemon-title {
  font-size: 1.25em;
}
