<article
  class="pokemon"
  [style.backgroundColor]="
    pokemon.types
      ? assignBackgroundColor(pokemon.types[0].type.name)
      : 'transparent'
  "
>
  <img [src]="pokemon.image" [alt]="pokemon.name" />
  <h4 class="pokemon-title">{{ pokemon.name }}</h4>

  <footer>
    <p *ngFor="let type of pokemon.types">
      {{ type.type.name }}
    </p>
  </footer>
</article>
