<div id="wrapper">
  <app-container>
    <!-- <p *ngIf="error">{{ error }}</p> -->

    <main class="pokemon">
      <app-pokemon
        *ngFor="let pokemon of pokemons"
        (click)="navigateToDetailPage(pokemon)"
        [pokemon]="pokemon"
      ></app-pokemon>
    </main>

    <section class="btnWrapper">
      <article class="btnContainer">
        <button id="btnPrevious" (click)="onPrevClick()">Prev</button>
        <button id="btnNext" (click)="onNextClick()">Next</button>
      </article>
    </section>
  </app-container>
</div>
