@import "../../../pokemonColorScheme.scss";

#wrapper {
  background: $pokemonBg;
}
.pokemon {
  width: 65%;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnWrapper {
  height: 120px;
}

.btnContainer {
  width: 64%;
  margin: 0 auto;
  padding-top: 20px;
}

button {
  width: 135px;
  border-radius: 25px;
  border: 2px solid $grey;
  background-color: $goldenYellow;
  text-align: center;
  box-shadow: 1px 1px 6px 0.2px $grey;
  font-size: 1.3em;
  font-family: "Pokemon";
  color: #fff;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
  outline: none;
}

#btnPrevious {
  float: left;
  padding: 0px;
  height: 50px;
}

#btnNext {
  float: right;
  padding: 0px;
  height: 50px;
}

button:hover {
  color: $bostonUniversityRed;
}

button:active {
  transform: translateY(4px);
}
