@import "../../../pokemonColorScheme.scss";

@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

body {
  font-family: "Inter", Pokemon, sans-serif;
}

a {
  font-size: 1.5em;
  font-family: "Pokemon";
  color: #fff;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
}

.navbar {
  padding: 0.7rem 2rem;
  height: 120px;
  background: $goldenYellow;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: $bostonUniversityRed;
}

#navbarWrapper {
  width: 68%;
  margin: 0 auto;
}

.imgLogo {
  height: 120px;
}

li {
  text-align: center;
  outline: none;
  width: 240px;
  border-radius: 24px;
  border: 2px solid $bostonUniversityRed;
  margin: 25px;
  box-shadow: 1px 1px 6px 0.2px $grey;
  letter-spacing: 2px;
}

li:active {
  transform: translateY(4px);
}

#btnWrapper {
  width: 100%;
}

#btnLogout {
  width: 80px;
  height: 40px;
  margin: 25px;
  border: 2px solid $bostonUniversityRed;
  border-radius: 18px;
  background-color: transparent;
  box-shadow: 1px 1px 4px 0.2px $grey;
  font-size: 1em;
  outline: none;
  float: right;
  font-family: "Pokemon";
  color: #fff;
  -webkit-text-stroke: 0.6px black;
  text-decoration: none;
  letter-spacing: 0.2px;
}

button:hover {
  color: $bostonUniversityRed;
}

button:active {
  transform: translateY(4px);
}
