<nav class="navbar">
  <section id="navbarWrapper">
    <ul>
      <li>
        <a routerLink="/pokemon-catalogue"> Catalogue </a>
      </li>
      <li>
        <a routerLink="/trainer">Trainer</a>
      </li>

      <article id="btnWrapper">
        <ng-container *ngIf="hasActiveSession">
          <button id="btnLogout" (click)="loginService.logout()">
            Log out
          </button>
        </ng-container>
      </article>
    </ul>
  </section>
</nav>
